*.o
*.lo
*.in
*.[ch]e
*.log
.deps/
.libs/
m4/
TAGS
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
src/*.diff
src/*.patch
src/*.rej
src/*.orig
src/TAGS
src/suricata
stamp-h1
src/build-info.h
qa/log/
/suricata-master-3.2.x.si4project
/.idea/
/qa/
/contrib/
