*.o
*.lo
*.[ch]e
*.log
.libs/
m4/
TAGS
aclocal.m4
config.log
libtool
src/*.diff
src/*.patch
src/*.rej
src/*.orig
src/TAGS
src/suricata
stamp-h1
qa/log/
/.idea/
/qa/
/contrib/
/suricata-master-3.2.x-simple.si4project
